@charset "UTF-8";
/* @font-face {
	font-family: 'AkzidenzGroteskBQCondensedBold';
	src: url('../fonts/AkzidenzGroteskBQCondensedBold.eot');
	src: local(''), url('../fonts/AkzidenzGroteskBQCondensedBold.woff') format('woff'), url('../fonts/AkzidenzGroteskBQCondensedBold.ttf') format('truetype'), url('../fonts/AkzidenzGroteskBQCondensedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */
@font-face {
  font-family: 'Conv_courbd';
  src: url("../assets/fonts/courbd/courbd.eot");
  src: local("☺"), url("../assets/fonts/courbd/courbd.woff") format("woff"), url("../assets/fonts/courbd/courbd.ttf") format("truetype"), url("../assets/fonts/courbd/courbd.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.btn {
  display: inline-block;
  background-color: #F2F0EE;
  color: #E32300;
  font-family: "Conv_courbd", arial;
  font-size: 22px;
  padding: 0 2em;
  line-height: 2.5em;
  text-transform: uppercase;
  white-space: nowrap;
  border: 4px solid #E32300;
  border-radius: 3px;
  cursor: pointer; }
  .btn--w {
    background-color: #fff;
    color: #000000; }
  .btn.fw {
    width: 100%; }

body {
  background-color: #FFFAEC;
  font-family: "Conv_courbd", arial;
  color: #53210F; }

.disabled {
  display: none; }

.wrapper {
  background-image: url("../assets/img/bg-main.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1; }

.container__wrapper {
  background-color: rgba(255, 250, 236, 0.5);
  z-index: 2;
  padding: 1px 0 0 0; }

.container__block {
  min-height: 100vh;
  max-width: calc(635px + 20%);
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 99px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 99px rgba(0, 0, 0, 0.16);
  border-radius: 2px; }
  @media (max-width: 850px) {
    .container__block {
      max-width: 90%; } }
  @media (max-width: 550px) {
    .container__block {
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0);
      -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      border-radius: 0;
      margin: 5px auto 0; } }

.game-block {
  margin: auto;
  text-align: center;
  max-width: 635px;
  text-transform: uppercase; }
  .game-block__header {
    padding: 40px 30px 30px 30px; }
    @media (max-width: 850px) {
      .game-block__header {
        padding: 30px 20px 20px 20px; } }
    @media (max-width: 550px) {
      .game-block__header {
        padding: 20px 0 15px 0; } }
  .game-block__bottom {
    margin: 40px auto 0 auto;
    padding: 0 0 20px 0; }
    @media (max-width: 850px) {
      .game-block__bottom {
        margin: 30px auto 0 auto; } }
    @media (max-width: 550px) {
      .game-block__bottom {
        margin: 15px auto 0 auto;
        padding: 0; } }

.header-block__text {
  font-size: 42px;
  text-transform: uppercase; }
  @media (max-width: 850px) {
    .header-block__text {
      font-size: 36px; } }
  @media (max-width: 550px) {
    .header-block__text {
      font-size: 20px; } }

.main-block__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 755px) {
    .main-block__column {
      margin: 0 10px; } }

@media (max-width: 550px) {
  .main-block__item img {
    width: 100%; } }

@media (max-width: 850px) {
  .bottom-block__button {
    font-size: 18px; } }

@media (max-width: 550px) {
  .bottom-block__button {
    font-size: 14px;
    margin: 0; } }

.bottom-block__output {
  margin: 0 35px;
  font-size: 22px; }
  @media (max-width: 850px) {
    .bottom-block__output {
      font-size: 18px; } }
  @media (max-width: 550px) {
    .bottom-block__output {
      font-size: 14px;
      margin: 0; } }

.output-block__text {
  background-color: rgba(255, 250, 241, 0.35);
  -webkit-box-shadow: 0 0 99px #d4d2d0;
  box-shadow: 0 0 99px #d4d2d0;
  border-radius: 2px;
  padding: 30px;
  line-height: 1.2em; }
  @media (max-width: 850px) {
    .output-block__text {
      padding: 20px; } }
  @media (max-width: 550px) {
    .output-block__text {
      padding: 10px;
      background-color: rgba(255, 250, 241, 0.65);
      -webkit-box-shadow: 0 0 50px #d4d2d0;
      box-shadow: 0 0 50px #d4d2d0; } }

.output-block__buttons {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media (max-width: 550px) {
    .output-block__buttons {
      margin: 10px 0 10px 0; } }

.output-block__button {
  cursor: pointer; }
  .output-block__button a {
    color: #E32300; }
    .output-block__button a:visited {
      color: #E32300; }
  .output-block__button:hover {
    text-decoration: underline; }

[data-tooltip] {
  position: relative;
  /* Относительное позиционирование */ }

[data-tooltip]::after {
  content: attr(data-tooltip);
  /* Выводим текст */
  width: 300px;
  /* Ширина подсказки */
  font-size: 14px;
  color: #E32300;
  /* Цвет текста */
  padding: 0.5em;
  /* Поля вокруг текста */
  pointer-events: none;
  /* Подсказка */
  opacity: 0;
  /* Подсказка невидима */
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  /* Время появления подсказки */ }

[data-tooltip]:hover::after {
  opacity: 1;
  /* Показываем подсказку */ }
